#project {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.6);
    ;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(255, 255, 255, 0.07);
}

#title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#github-logo {
    height: 30px;
    width: auto;
}

#tech-stack {
display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .6rem .8rem;
  margin: .6rem 0 .2rem;
  height: 24px;
}

#tech-stack a {
    height: 100%;
}
#desc code, #desc details, #desc summary {
  color: #e5e7eb;
  font-size: 0.95em;
}
#desc summary { cursor: pointer; 