#date {
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  background-color: var(--color0);
  margin-top: 0;
  padding-bottom: 5px;
}

#til {
  background-color: var(--color1);
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0px 0px 15px 0px rgba(0, 0, 0, .06), 0px 2px 30px 0px rgba(0, 0, 0, .22), inset 0px 0px 1px 0px hsla(0, 0%, 100%, .15);
  
}